.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #fff;
  height: $header-height;

  .mainNavLogo {
    display: flex;
    align-items: center;

    .mainNavLogoImage {
      max-width: 100%;
      width: 200px;
    }
    .srOnly {
      @include srOnly;
    }
  }

  .mainNavUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5rem;
    @include bold-blue;
    gap: 10px;
    .user {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: inherit;
      }

      .userCircle {
        max-width: 100%;
        width: 16px;
      }
    }

    .logout {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: inherit;
      }

      .logoutIcon {
        max-width: 100%;
        width: 16px;
      }
    }
  }
}
