* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  min-height: 100vh;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-color: $html-bgc;
}
